nav {
  text-align: left;
  position: fixed;
  width: 50vw;
  height: 60vh;
  top: 0px;
  left: 70vw;
  padding: 20px;
  transition: left 0.4s, background-color 0.4s;

}

nav a {
  font-size: 1.4em;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  color: rgb(140, 219, 42);
}
